*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to bottom, #d1d1d1, #cbcbcb, #c6c6c6, #c0c0c0, #bbbbbb);
}
main{
    max-width: 500px;
    width: 90%;
}
h1{
    color: #fff;
}
.title{
  background-color: #2C73D2;
    padding: 0.7rem;
    color:#fff;
}
.content{
    padding: 10px;
    background-color: #fff;
    display: none;
}
.accItem{
    margin-bottom: 1rem;
}

.accItem.active .content{
    display: block;
}
